.bg-img{
    height: 50vh;
    background-image: url(./post.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quality-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.circle{
    border: 10px solid green;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circle span{
    font-size: 30px;
}
.quality-div span{
    font-size: 30px;
}