.bg-img{
    height:120px;
    width: 120px;
    border-radius: 50%;
    background-image: url(./post1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.quality-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.circle{
    border: 10px solid green;
    width: 120px;
    height: 120px;
    background: transparent;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d-flex{
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: space-around;
}
@media only screen and (min-width: 600px) {
 .video{
    margin: 2% 20%;
 }
 .video video{
     width: 80%;
     height: 80%;
 }
}